html {
    background-color: black;
}
h1 {
    color: white; margin-left: 125px; font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans Display', sans-serif; 
}
#meme {
    margin-left: 260px; margin-top: 260px; border: 2px solid yellow; width: 350px; padding: 10px;
}

#photo {
    border: 5px solid white; margin-left: 45px;
}

#text {
    color: white; margin-left: 8px;
}